@use "variables";

// estilizando a section
.events {
  padding: 80 0;
  background-image: linear-gradient(#1b6ca7, #442bdb);

  // criando um modificador
  &--aniversario1 {
    background-image: linear-gradient(variables.$blue1, variables.$blue2);
  }

  // criando um modificador
  &--aniversario2 {
    background-image: linear-gradient(variables.$blue2, variables.$pink);
  }

  // criando um modificador
  &--aniversario3 {
    background-image: linear-gradient(variables.$pink, variables.$yelow);
  }

  // esse vai ser o nome do modificador
  &--image-left {
    .container {
      flex-direction: row-reverse;
    }
  }

  .container {
    display: flex;
    gap: 40px;  
  }
  &__image {
    max-width: 360px;
  }

  &__details {
    &__titles {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 16px;
    }
    &__descriptions {
      line-height: 22px;
    }
  }

  //criando um media query para o celular

  @media (max-width: 640px) {
    .container {
      display: block;
    }
    //colocar a imagem para ocupar toda largura disponivel
    &__image {
      width: 100%;
    }
    &__details {
      margin-right: 0;
      margin-bottom: 17px;
    }
  }
}
