@use 'variables';

.hero {
  padding-top: 90px;
  padding-bottom: 54px;
  background-image: url(../images/birthday-874783_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: variables.$secondaryTextcolor;
    content: ""; /* Adicionei esta linha para corrigir o erro */
  }

  &__text {
    margin-top: 64px;
    margin-bottom: 64px;
    font-size: 40px;
    line-height: 56px;
    color: #fff;
    font-weight: 800;
    text-align: center;
  }
  &__logo {
    margin: 0 auto;
    height: 80px;
    display: block;
  }

  @media (max-width: 640px) {
    padding: 40px 0;

    &__logo {
      height: 45px;
    }

    &__text {
      font-size: 22px;
      line-height: 25px;
      margin: 24px 0;
    }
  }
}
